@import "variables";

p a {
  text-decoration: underline;
}

.pack-fox {
  margin: 0 auto;
}

.btn-default {
  background-color: $downloads-btn-color;
  border-color: $downloads-btn-color;
  color: $color-white;
  transition: all .2s linear;
}

.btn-default:hover,
.btn-default:focus,
.btn-default .dropdown-toggle,
.btn-group.open .dropdown-toggle {
  background-color: $downloads-btn-hover-color;
  border-color: $downloads-btn-hover-color;
  color: $color-white;
}

.download-ce,
.download-ee {

  hr {
    border-top-color: $color-white-alt;
    margin: 30px 0;
  }
}

.other-downloads {
  h3 {
    margin-bottom: 10px;
  }

  ul {
    margin: 0;
  }
}

pre {
  background: $downloads-code-color;
  border: 0;
  color: $color-white;
}

.simple-header {
  margin-bottom: 10px;

  h1 {
    margin: 30px 0;
  }
}

.tab-step {
  margin: 20px 0;
  padding: 12px;
  border-radius: 5px;
  background-color: rgba($color-white, .05);

  a {
    color: $downloads-step-link-color;
  }

  p {
    color: $downloads-step-color;
  }
}

.newsletter-preamble {
  img {
    height: 100px;
    margin-bottom: 10px;
  }
}
